body {
  background-color: rgb(240, 240, 255);
}

.top-header {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: static;
}

/***** contact *****/
.frame-contact {
  max-width: 1100px;
  margin: auto;
  margin-top: 20px;
}

.box-contact {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.contact {
  border: 1px solid rgb(0, 0, 0);
  width: 400px;
  margin: 10px;
  text-align: center;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  border-radius: 4px;
}

.fb {
  transition: 0.5s;
}

.dc {
  transition: 0.5s;
}

.line {
  transition: 0.5s;
}

.ig {
  transition: 0.5s;
}

.fb:hover {
  background-color: rgb(0, 0, 255);
  color: white;
}

.dc:hover {
  background-color: rgb(90, 90, 255);
  color: white;
}

.line:hover {
  background-color: rgb(0, 220, 0);
  color: white;
}

.ig:hover {
  background-color: rgb(216, 20, 255);
  color: white;
}
/***** end contact *****/

/**nav bar**/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}

.menu {
  display: flex;
  gap: 20px;
  font-family: 'Kanit', sans-serif;
  margin: 8px;
}

.menu-item {
  transition: 0.5s;
}

.menu-item:hover {
  color: rgb(132, 0, 255);
}

.menu a {
  text-decoration: none;
  color: rgb(97, 97, 97);
  font-weight: 600;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top: 50px;
    left: 0;
    width: 94.5%;
    padding: 5px;
    border: 1px solid black;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
/**END nav bar**/


/**page product**/
.frame-product-page {
  border: 1px solid white;
  max-width: 1100px;
  margin: auto;
  margin-top: 20px;
  height: 500px;
}

.breadcrumb {
  color: white;
  font-family: 'Kanit', sans-serif;
  text-decoration: none;
}

.greater-than {
  color: rgb(200, 200, 200);
}

.frame-product-img-recommend {
  border: 1px solid red;
  margin-top: 10px;
}