body {
  background-color: rgb(240, 240, 255);
}

/***** home *****/
/***** header *****/
.top-header {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: static;
}

/***** end header *****/

/***** banner *****/
.box-banner {
  max-width: 1100px;
  margin: auto;
  margin-top: 20px;
}

.banner {
  width: 100%;
  border-radius: 10px;
}

/***** end banner *****/

/***** home *****/
.frame-home {
  border: 1px solid blue;
  max-width: 1100px;
  margin: auto;
  margin-top: 20px;
}

/***** help-menu *****/
.frame-help-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box-help-menu {
  max-width: 223px;
  margin: 5px;
}

.img-menu {
  max-width: 100%;
  border-radius: 10px;
}

/***** end help-menu *****/

/***** text product category *****/
.box-text-button-product-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: -20px;
}

.box-text-product-category {
  margin-left: 20px;
}

.box-button-product-category {
  margin-right: 20px;
}

.text-product-category {
  font-family: 'Kanit', sans-serif;
  color: rgb(0, 0, 0);
}

.top {
  margin-top: -20px;
}

.to-page-product {
  font-family: 'Kanit', sans-serif;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
}

/***** end text product category *****/

/***** img product category *****/
.frame-product-category-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.box-product-category-img {
  max-width: 520px;
  margin: 8px;
}

.img-product-category {
  width: 100%;
  border-radius: 10px;
}

/*****end img product category *****/

/***** product *****/
.frame-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.box-product {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  max-width: 215px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.img-product {
  width: 100%;
  border-radius: 5px;

}

.name-product {
  font-family: 'Kanit', sans-serif;
  margin-bottom: -20px;
  margin-top: -3px;
}

.price {
  font-family: 'Kanit', sans-serif;
  margin-bottom: -1px;
}

.buy-button {
  font-family: 'Kanit', sans-serif;
  padding: 1px 90px 1px 90px;
  border: 1px solid rgb(0, 0, 0);
  text-decoration: none;
  color: black;
  border-radius: 9px;
}

.buy-button:hover {
  opacity: 0.7;
}

/***** end product *****/
/***** end home *****/


/**nav bar**/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}

.menu {
  display: flex;
  gap: 20px;
  font-family: 'Kanit', sans-serif;
  margin: 8px;
}

.menu-item {
  transition: 0.5s;
}

.menu-item:hover {
  color: rgb(132, 0, 255);
}

.menu a {
  text-decoration: none;
  color: rgb(97, 97, 97);
  font-weight: 600;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top: 50px;
    left: 0;
    width: 94.5%;
    padding: 5px;
    border: 1px solid black;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/**END nav bar**/