* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/***** home *****/
/***** header *****/
.top-header {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: static;
}
/***** end header *****/

/**main-menu**/
.main-menu {
  border: 1px solid black;
  display: grid;
  justify-content: center;
  max-width: 1300px;
  margin-top: 40px;
  margin: auto;
}

.box-banner {
  max-width: 1200px;
  margin: auto;
}

.banner {
  width: 100%;
}

.section-dashboard-stats-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Dashboard-Stats-Section {
  border: 1px solid rgb(255, 0, 0);
  width: 280px;
  margin: 10px;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}

.section-title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(110, 110, 110);
  font-weight: 600;
  margin: 0;
}

.quantity {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(132, 0, 255);
  font-size: 30px;
  margin: 0;
  font-weight: 600;
}

@media (max-width: 768px) {
  .Dashboard-Stats-Section {
    width: 43.5%;
    margin: 5px;
    padding: 20px;
  }

  .quantity {
    font-size: 20px;
  }

  .section-title {
    font-size: 15px;
  }
}

.section-help-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.help-menu {
  margin: 10px;
  border-radius: 20px;
  width: 275px;
  border-radius: 20px;
}

.image-menu {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .help-menu {
    width: 47%;
    margin: 2px;
  }
}

.section-category-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.category-section-title {
  padding: 10px;
  margin: 0;
}

.category-section-title {
  padding-left: 100px;
  margin: 0;
}

.category-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 12px;
}

.category-card {
  width: 550px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 15px;
  border-radius: 10px;
}

.image-category-card {
  width: 100%;
  border-radius: 7px;
}

@media (max-width: 768px) {
  .category-card {
    width: 99%;
    margin: 1px;
  }

  .category-section-title {
    padding-left: 10px;
    margin: 0;
  }
}

.product-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 250px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.product-card-image {
  width: 100%;
}

.t-product {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .product-card {
    width: 45%;
    margin: 10px;
  }
}







/**nav bar**/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}

.menu {
  display: flex;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
}

.menu-item {
  transition: 0.5s;
}

.menu-item:hover {
  color: rgb(132, 0, 255);
}

.menu a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top: 50px;
    left: 0;
    width: 94.5%;
    padding: 5px;
    border: 1px solid black;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/**END nav bar**/

