body {
  background-color: rgb(240, 240, 255);
}

.top-header {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: static;
}

.frame-login {
  border: 1px solid black;
  width: 500px;
  margin: auto;
  height: 800px;
}






















/**nav bar**/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
}

.menu {
  display: flex;
  gap: 20px;
  font-family: 'Kanit', sans-serif;
  margin: 8px;
}

.menu-item {
  transition: 0.5s;
}

.menu-item:hover {
  color: rgb(132, 0, 255);
}

.menu a {
  text-decoration: none;
  color: rgb(97, 97, 97);
  font-weight: 600;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: rgb(0, 0, 0);
  margin: 4px 0;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #ffffff;
    position: absolute;
    top: 50px;
    left: 0;
    width: 94.5%;
    padding: 5px;
    border: 1px solid black;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}

/**END nav bar**/